<a href="/" id="resultslink">
<div class="container" id="resultspage">
<p class="startovertext">click anywhere</p>
<div class="block_box"> 
<h1>
<%= @game.loser.name %> loses!
</h1>
</div>
<p class="startovertext">to start again</p>
</div>
</a>